footer
	div.container
		div.row
			div.col-xs-3 built on #[a(href="https://ethereum.org/" target="_blank") #[img(src="/images/ethereum-sign.svg")]]
			div.col-xs-9.text-right ©2016 #[a(href="https://en.wikipedia.org/wiki/MIT_License" target="_blank") Open Sourced] by BTCRelay