footer
	//- div.container.text-center BTC Relay is licensed under the #[a(href="https://en.wikipedia.org/wiki/MIT_License" target="_blank") MIT License]. Check it out on #[a(href="https://github.com/ethereum/btcrelay" target="_blank") Github].
	div.container
		div.row
			div.col-xs-3 built on #[img(src="/images/ethereum-sign.svg")]
			div.col-xs-9.text-right ©2016 #[a(href="https://en.wikipedia.org/wiki/MIT_License" target="_blank") Open Sourced] by BTCRelay