@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-Regular'), url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-Light'), url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 300;

}

body {
	color: @base-color;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

section {
	padding: 50px 0;

	&.grey {
		background-color: #f5f5f5;
	}

	h2 {
		font-size: 30px;
		font-weight: 300;
		text-transform: uppercase;
		color: #1f435e;
		opacity: 0.3;
		margin-bottom: 50px;
	}

	p {
		font-size: 16px;
		font-weight: 300;
		color: #1f435e;
		max-width: 670px;
		margin: 0 auto;
		margin-bottom: 25px;
	}
}