@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-Regular'), url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-Light'), url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 300;

}

body {
	color: @base-color;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

section {
	padding: 50px 0;

	&.grey {
		background-color: @grey-color;
	}

	&.dark-grey {
		background-color: @light-grey-color;
	}

	&.jumbotron {
		background: url('../images/bridge.jpg') center center no-repeat;
		background-size: cover;
		margin-bottom: 0;

		h1 {
			font-size: 35px;
			font-weight: 300;
			color: #fff;
			max-width: 770px;
			margin: 20px auto;
		}

		p {
			font-size: 16px;
			font-weight: 300;
			color: #c4c4c4;
			max-width: 770px !important;
		}
	}

	h2 {
		font-size: 30px;
		font-weight: 300;
		text-transform: uppercase;
		color: @header-color;
		opacity: 0.3;
		margin-bottom: 50px;
	}

	h4 {
		font-size: 16px;
		font-weight: 300;
		color: #1f435e;
		text-transform: uppercase;
	}

	p {
		font-size: 16px;
		font-weight: 300;
		color: @paragraph-color;
		max-width: 670px;
		margin: 0 auto;
		margin-bottom: 25px;
	}

	.img-responsive {
		width: 100%;
		max-width: 885px;
		margin: 0 auto;
	}

	span.feature {
		display: inline-block;
		font-weight: 300;
		margin-bottom: 25px;
	}
}

footer {
	padding: 25px 0px;
	font-weight: 300;

	a {
		text-decoration: underline;
	}
}