header {
	width: 100%;
	height: auto;
	background-color: #fff;
	box-shadow: 0px 1px 0px 1px rgba(0,0,0,0.08);

	.navbar {
		background: transparent;
		border: none;
		margin-bottom: 0px;
		min-height: 65px;
	}

	.navbar-brand {
		height: 65px;

		img {
			height: 35px;
			width: auto;
		}
	}

	.nav {
		li {
			a {
				font-size: 12px;
				line-height: 35px;
				text-transform: uppercase;
			}

			&.active {
				a {
					background-color: transparent !important;
					color: @link-color !important;
				}
			}
		}
	}
}