header {
	position: absolute;
	top: 0;
	width: 100%;
	height: auto;
	background-color: #fff;
	box-shadow: 0px 1px 0px 1px rgba(0,0,0,0.08);
	z-index: 1000;

	.navbar {
		background: transparent;
		border: none;
		margin-bottom: 0px;
		min-height: 65px;
	}

	.navbar-brand {
		height: 65px;

		img {
			height: 35px;
			width: auto;
		}
	}

	.nav {
		li {
			a {
				font-size: 12px;
				line-height: 35px;
				text-transform: uppercase;

				&.github {
					line-height: 24px;

					svg {
						fill: #777;
						margin-top: 4px;
					}

					&:hover {
						svg {
							fill: #333;
						}
					}
				}
			}

			&.active {
				a {
					background-color: transparent !important;
					color: @link-color !important;
				}
			}
		}
	}
}

.left-menu {
	background-color: #ebebeb;

	.nav {
		li {
			text-transform: uppercase;

			a {
				color: #525252;
				padding: 10px 22px;
				letter-spacing: -0.1px;
			}

			&.header {
				background-color: #fff;
				font-size: 16px;
				line-height: 37px;
			}

			> a:hover,
			&.active > a,
			&.active > a:hover {
				color: #fff;
				background-color: #525252;
			}

			&.dropdown {
				ul > li {
					a {
						padding-left: 42px;
					}

					> a:hover,
					&.active > a {
						color: #fff;
						background-color: #0092c1;
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	header {
		.nav {
			li {
				text-align: center;

				&:not(:last-child) {
					border-bottom: 1px solid #e7e7e7;
				}
			}
		}
	}
}