<!-- TEST NET {{@developers}}-->
<br/>
<h3 class="red-tab-header text-center">LIVE TEST NET STATUS</h3>
<h4>Address: <strong id="relayAddr"></strong></h4>
<h3><a href="./BitcoinRelayABI.js">ABI</a></h3>
<h3><a href="https://github.com/ethereum/btcrelay#api">API</a></h3>
<h3>Latest Block Hash: <strong id="latestBlockHash"></strong></h3>
<div>
	<h3 style="display: inline-block">Latest Block#: <strong id="latestBlockHeight"></strong></h3>
	<div style="display: inline-block; margin-left:3em"><a href="https://blockchain.info" target="_">blockchain.info</a>: <strong id="bciBlockHeight"></strong></div>  &nbsp;
	<span><a href="https://btc.blockr.io" target="_">btc.blockr.io</a>: <strong id="blockrBlockHeight"></strong></span>
</div>
<h3 id="warnSync" style="display: none">Your Ethereum node may not be fully synced: <span id=nodeBlockNum></span>.  Check <a href="https://stats.ethdev.com" target="_">stats</a>
	for the latest blocks.
</h3>
<h3>ETH fee: <strong id="feeVTX"></strong></h3>
<h5>Relayer: <strong id="feeRecipient"></strong></h5>
