{{#extend "layout"}}

    {{#content "content"}}
    	   <div class="content-wrap">

                <div id="section-about" class="container-fluid page-section clearfix">

                    <div class="hero-headline bottommargin">

                        <h1 class="headline-reponsive">Relayers run this
                          <a href="https://github.com/consensys/btcrelay-fetchd">script</a></h1>

                        <span>BTC Relay is <strong>open-source, trustless, autonomous and decentralized</strong>.</span>
                    </div>

                </div>
          </div>
    {{/content}}

{{/extend}}
