doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		title BTC Relay - Developers
		link(rel='stylesheet', href='./css/style.css')
	body.grey-bg
		- var page = 'developers';
		include ./partials/header.pug
		div.container
			div.row
				div.col-md-3.static
					include ./partials/sidebar.pug
				div.col-md-9.developers
					include ./partials/main-status.pug
		include ./partials/footer.pug

		script(src="./js/jquery.min.js")
		script(src="./js/bootstrap.min.js")
		script(src="./js/bignumber.min.js")
		script(src="./js/web3.min.js")
		script(src="./js/app.js")