doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		title BTC Relay
		link(rel='stylesheet', href='./css/style.css')
	body.grey-bg
		- var page = 'developers';
		include ./partials/header.pug
		div.container
			div.row
				div.col-md-3(style="position: relative;")
					include ./partials/sidebar.pug
				div.developers.col-md-9
					h1 Main net live status
					hr
					div.row
						div.col-lg-3
							span.left Contract information
						div.col-lg-9.text-right
							a#contract-address(href="http://etherscan.io/address/0x41f274c0023f83391de4e0733c609df5a124c3d4" target="_blank") 0x41f274c0023f83391de4e0733c609df5a124c3d4
						div.col-lg-12
							hr

						div.col-lg-3
							span.left Latest block hash
						div.col-lg-9.text-right
							span#block-hash 000000000000000000e1cbea710bc0fd154a...e9ca40e
						div.col-lg-12
							hr

						div.col-lg-3
							br
							span.left Latest block #
						div.col-lg-9.text-right
							span BTC Relay #[span#btc-relay.red # 415382]
							br
							| #[a(href="https://blockchain.info" target="_blank") Blockchain.info] #[span#blockchaininfo # 415382]
							br
							| #[a(href="https://btc.blockr.io" target="_blank") btc.blockr.io] #[span#blockr # 415382]
						div.col-lg-12
							hr

						div.col-lg-3
							span.left Eth fee
						div.col-lg-9.text-right
							span#eth-fee.red 0.001
						div.col-lg-12
							hr

						div.col-lg-3
							span.left Relayer address
						div.col-lg-9.text-right
							a#relayer-address(href="http://etherscan.io/address/0x1a23fd30aabf5ad53bab3093dcd4948e15cec80" target="_blank") 0x1a23fd30aabf5ad53bab3093dcd4948e15cec80
						div.col-lg-12
							hr

					p.text-right
						| For more information visit #[a(href="/faq.html") Status FAQ]
						br
						| If you need more help visit #[a(href="https://gitter.im/ethereum/btcrelay" target="_blank") BTC Relay Gitter]
						br
						br
		footer
			div.container.text-center BTC Relay is licensed under the #[a(href="https://en.wikipedia.org/wiki/MIT_License" target="_blank") MIT License]. Check it out on #[a(href="https://github.com/ethereum/btcrelay" target="_blank") Github].

		script(src="./js/jquery.min.js")
		script(src="./js/bootstrap.min.js")