doctype html
html
	head
		include ./partials/head.pug
	body.grey-bg
		- var page = 'developers';
		include ./partials/header.pug
		div.container
			div.row
				div.col-md-3.static
					include ./partials/sidebar.pug
				div.col-md-9.developers
					h1#header Main net live status
					include ./partials/source.pug
					include ./partials/status.pug
					include ./partials/verify.pug
		include ./partials/footer.pug

		script(src="./js/jquery.min.js")
		script(src="./js/bootstrap.min.js")
		script(src="./js/bignumber.min.js")
		script(src="./js/web3.min.js")
		script(src="./js/app.js")