html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		title BTC Relay
		link(rel='stylesheet', href='./css/style.css')
	body
		header
			div.container
				nav.navbar.navbar-default
					div.container-fluid
						div.navbar-header
							button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar-collapse", aria-expanded="false")
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
							a.navbar-brand(href="/")
								img(src="./images/logo.svg")
						div#navbar-collapse.collapse.navbar-collapse
							ul.nav.navbar-nav.navbar-right
								li
									a(href="/developers") Developers
								li
									a(href="/become-a-relayer") Become a relayer
								li
									a(href="/faq") Faq
								li
									a(href="https://github.com/ethereum/btcrelay" target="_blank") Git
		h1 test
		section.grey
			div.container.text-center
				h2 What is it exactly?
				p BTC Relay is an Ethereum contract that stores Bitcoin blockheaders. BTC Relay uses these blockheaders to build a mini-version of the Bitcoin blockchain: a method used by Bitcoin SPV light wallets.
				p BTC Relay is open-source, trustless, autonomous and decentralized.
		section
			div.container.text-center
				h2 How it works?
				img.img-responsive(src="./images/how-it-works.svg")
		section.dark-grey
			div.container.text-center
				h2 Features
				div.row
					div.col-lg-3.col-sm-6
						img(src="./images/open-source.svg")
						h4 Open source code
						span.feature Anyone can verify the source:#[br] #[a(href="https://github.com/ethereum/btcrelay" target="_blank") Github Repo]. Questions? Ask in the #[a(href="https://gitter.im/ethereum/btcrelay" target="_blank") Gitter]

					div.col-lg-3.col-sm-6
						img(src="./images/payments.svg")
						h4 Flexible payments
						span.feature Reach a wider audience with your DApp by opening up payments to Bitcoin users.

					div.col-lg-3.col-sm-6
						img(src="./images/decentralized.svg")
						h4 Decentralized
						span.feature Community members, Relayers, provide the relay service so it’s not owned by anyone.

					div.col-lg-3.col-sm-6
						img(src="./images/easy.svg")
						h4 Easy to use
						span.feature In just a #[a(href="" target="_blank") few lines of code] in a DApp or smart contract, Bitcoin Relay’s easy to integrate.
		section.grey
			div.container.text-center
				h2 Brought to you by

		script(src="./js/jquery.min.js")
		script(src="./js/bootstrap.min.js")