doctype html
html
	head
		include ./partials/head.pug
	body
		- var page = 'home';
		include ./partials/header.pug
		section.jumbotron
			div.container.text-center
				div.visible-lg.spacer
				h1 A bridge between the Bitcoin blockchain & Ethereum smart contracts
				p BTC Relay is a building block that allows Ethereum contracts to securely verify Bitcoin transactions without any intermediaries: in short users can pay with Bitcoin to use Ethereum DAPPs.
				br
				br
				br
				img(src="./images/graph.svg")
				br
				br
				br
				img(src="./images/arrow.png")
				br
				span.scroll Scroll
		section.grey
			div.container.text-center
				h2 What is it exactly?
				p BTC Relay is an Ethereum contract that stores Bitcoin blockheaders. BTC Relay uses these blockheaders to build a mini-version of the Bitcoin blockchain: a method used by Bitcoin SPV light wallets.
				p BTC Relay is open-source, trustless, autonomous and decentralized.
				div.row
					div.col-lg-3.col-md-2.col-sm-1
					div.col-lg-3.col-md-4.col-sm-5
						div.smaller
							span Are you a developer?
						a.btn-rounded(href="./developers.html") Check status
					div.col-lg-3.col-md-4.col-sm-5
						div.smaller
							span Everybody can be a relayer#[br.hidden-xs] and earn ETH
						a.btn-rounded.btn-red(href="./become-a-relayer.html") Become a relayer
		section
			div.container.text-center
				h2 How it works?
				img.img-responsive(src="./images/how-it-works.svg")
		section.dark-grey
			div.container.text-center
				h2 Features
				div.row
					div.col-lg-3.col-sm-6
						img(src="./images/open-source.svg")
						h4 Open source code
						span.feature Anyone can verify the source:#[br] #[a(href="https://github.com/ethereum/btcrelay" target="_blank") Github Repo]. Questions? Ask in the #[a(href="https://gitter.im/ethereum/btcrelay" target="_blank") Gitter]

					div.col-lg-3.col-sm-6
						img(src="./images/payments.svg")
						h4 Flexible payments
						span.feature Reach a wider audience with your DApp by opening up payments to Bitcoin users.

					div.col-lg-3.col-sm-6
						img(src="./images/decentralized.svg")
						h4 Decentralized
						span.feature Community members, Relayers, provide the relay service so it’s not owned by anyone.

					div.col-lg-3.col-sm-6
						img(src="./images/easy.svg")
						h4 Easy to use
						span.feature In just a #[a(href="" target="_blank") few lines of code] in a DApp or smart contract, Bitcoin Relay’s easy to integrate.
		section.grey
			div.container.text-center
				h2 Brought to you by
				div.row
					div.col-lg-3.hidden-sm
					div.col-lg-3.col-sm-6
						a(href="https://ethereum.org" target="_blank")
							img(src="./images/ethereum.svg")
					div.col-lg-3.col-sm-6
						a(href="https://consensys.net" target="_blank")
							img(src="./images/consensys.svg")
					div.col-lg-3.hidden-sm
		include ./partials/footer.pug

		script(src="./js/jquery.min.js")
		script(src="./js/bootstrap.min.js")