html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		title BTC Relay
		link(rel='stylesheet', href='./css/style.css')
	body
		header
			div.container
				nav.navbar.navbar-default
					div.container-fluid
						div.navbar-header
							button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar-collapse", aria-expanded="false")
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
							a.navbar-brand(href="/")
								img(src="./images/logo.svg")
						div#navbar-collapse.collapse.navbar-collapse
							ul.nav.navbar-nav.navbar-right
								li
									a(href="/developers") Developers
								li
									a(href="/become-a-relayer") Become a relayer
								li
									a(href="/faq") Faq
								li
									a(href="https://github.com/ethereum/btcrelay" target="_blank") Git
		h1 test
		section.grey
			div.container.text-center
				h2 What is it exactly?
				p BTC Relay is an Ethereum contract that stores Bitcoin blockheaders. BTC Relay uses these blockheaders to build a mini-version of the Bitcoin blockchain: a method used by Bitcoin SPV light wallets.
				p BTC Relay is open-source, trustless, autonomous and decentralized.
		section
			div.container.text-center
				h2 How it works?
				img.img-responsive(src="./images/how-it-works.svg")
		section.dark-grey
			div.container.text-center
				h2 Features
		section.grey
			div.container.text-center
				h2 Brought to you by

		script(src="./js/jquery.min.js")
		script(src="./js/bootstrap.min.js")