html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		title BTC Relay
		link(rel='stylesheet', href='./css/style.css')
	body
		header
			div.container
				nav.navbar.navbar-default
					div.container-fluid
						div.navbar-header
							button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar-collapse", aria-expanded="false")
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
							a.navbar-brand
								img(src="./images/logo.svg")
						div#navbar-collapse.collapse.navbar-collapse
							ul.nav.navbar-nav.navbar-right
								li.active
									a(href="#") Home
								li
									a(href="#produse") Developers
								li
									a(href="#companie") Become a relayer
								li
									a(href="#blog") Faq
								li
									a(href="#blog") Git
		h1 test